.slide-top {
    -webkit-animation: slide-top 0.5s ease-in-out 0.2s both;
    animation: slide-top 0.5s ease-in-out 0.2s both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-left {
    -webkit-animation: slide-left 0.5s ease-in-out 0.5s both;
    animation: slide-left 0.5s ease-in-out 0.5s both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-right {
    -webkit-animation: slide-right 0.5s ease-in-out both;
    animation: slide-right 0.5s ease-in-out both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s ease-in-out both;
    animation: slide-bottom 0.5s ease-in-out both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
