@charset "UTF-8";
@import url("https://use.typekit.net/gbs7leh.css");
* {
    font-family: proxima-soft, sans-serif;
    font-style: normal;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-transform: uppercase;
}
body {
    color: #0c0c0c;
}
blockquote,
body,
figure,
h1,
li,
p,
ul {
    margin: 0;
    padding: 0;
}
h1,
h2 {
    font-size: clamp(2em, 2em + 1vw, 1em);
    line-height: 1em;
}
strong {
    font-weight: 600;
}
em {
    font-style: italic;
}
.header__animals {
    background-position: 50%;
    background-repeat: no-repeat;
    height: 10rem;
    width: 16.25rem;
}
header figure {
    width: 16.25rem;
}
header h1 {
    margin-left: 1rem;
}
main p {
    background: #f1f1f1;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 20px;
}
main p,
video {
    max-width: 45rem;
    width: 100%;
}
video {
    border: 0 solid;
    border-radius: 1rem;
    display: flex;
    margin: auto;
    position: relative;
}
.container {
    height: 100%;
    width: 100%;
}
.container__content {
    margin: auto;
    max-width: 76.875rem;
    padding: 1rem;
    width: 100%;
}
.footer__copyright {
    font-size: small;
    text-align: center;
}
button.on-off {
    border-style: solid;
    bottom: 0;
    cursor: pointer;
    font-size: x-large;
    padding: 0.2rem 2rem 0.2rem 1rem;
    right: -1%;
    z-index: 2;
}
.copyright,
button.on-off {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    color: #fff;
    position: fixed;
}
.copyright {
    bottom: 3rem;
    max-height: 80%;
    max-width: 20rem;
    overflow: auto;
    padding: 1rem;
    right: -160%;
    text-transform: none;
    transition: right 1s;
    z-index: 1;
}
.open {
    right: 0;
}
.copyright ul {
    list-style: none;
    margin: 0 1rem;
}
.slide-top {
    -webkit-animation: slide-top 0.5s ease-in-out 0.2s both;
    animation: slide-top 0.5s ease-in-out 0.2s both;
}
@-webkit-keyframes slide-top {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-top {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.slide-left {
    -webkit-animation: slide-left 0.5s ease-in-out 0.5s both;
    animation: slide-left 0.5s ease-in-out 0.5s both;
}
@-webkit-keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.slide-right {
    -webkit-animation: slide-right 0.5s ease-in-out both;
    animation: slide-right 0.5s ease-in-out both;
}
@-webkit-keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.slide-bottom {
    -webkit-animation: slide-bottom 0.5s ease-in-out both;
    animation: slide-bottom 0.5s ease-in-out both;
}
@-webkit-keyframes slide-bottom {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-bottom {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7 {
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
}
.bgimg-1 {
    background-image: url(../image/game/BG-CRIANCA.jpg);
}
.bgimg-2 {
    background-image: url(../image/game/BG-ADOLESCENTE.jpg);
    /* background-position: 100% !important; */
}
.bgimg-3 {
    background-image: url(../image/game/BG-ADULTO.jpg);
}
.bgimg-3 {
    background-image: url(../image/game/BG-VELHO.jpg);
}

.caption {
    align-items: center;
    display: flex;
}
h1 {
    font-size: clamp(3em, 2em + 1vw, 1em);
}
header {
    height: 10rem;
    width: 100%;
}
.infos,
header {
    align-items: center;
    display: flex;
}
.infos {
    background: #f0f8ff;
    border-radius: 1rem;
    flex-direction: column;
    font-size: large;
    padding: 2rem;
}
hr {
    border: none;
    height: 3rem;
    margin: 0;
    width: 100%;
}
.link__container {
    align-items: center;
    display: flex;
    margin-top: 10%;
}
.link__container a {
    background: #99ca3c;
    border-radius: 1rem;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}
.btn__default,
main {
    display: flex;
    justify-content: center;
}
.btn__default {
    align-items: center;
    background-color: #069edb;
    border-radius: 10px;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 160px;
}
.btn__default a {
    color: #fff;
    text-decoration: none;
}
.btn__goback {
    align-items: center;
    bottom: 1%;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    position: fixed;
    right: 0;
    text-align: center;
}
.button__right {
    margin-left: 6px;
}
.button__right:after {
    content: url(../image/arrow_circle_right24.svg);
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}
.button__left {
    margin-left: 6px;
}
.button__left:after {
    content: url(../image/arrow_circle_left24.svg);
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}
.button__goback {
    margin-left: 6px;
}
.button__goback:after {
    content: url(../image/arrow_circle_up24.svg);
    display: inline-block;
    height: 24px;
    height: 48px;
    vertical-align: middle;
    width: 24px;
    width: 48px;
}
h1 {
    background: #fff;
    padding: 4%;
}
.infos p {
    font-size: x-large;
}
#professor {
    max-width: 350px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}
#fundosala {
    max-width: 1230px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
#alunos {
    margin-top: 150px;
    max-width: 550px;
    position: relative;
    width: 100%;
    z-index: 1;
}
#textoparallax {
    color: #5c0372;
    font-size: 5rem;
    position: relative;
    text-shadow: 0 1px 0 #5c0372, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    top: -250px;
    z-index: 2;
}
@media (max-width: 768px) {
    #textoparallax {
        color: #000;
        font-size: 2rem;
        text-align: center;
        text-shadow: none;
    }
    #alunos {
        width: 300px !important;
    }
    #professor {
        margin-left: 70%;
        margin-top: -350px;
        width: 200px;
    }
}
@media (max-width: 320px) {
    #textoparallax {
        color: #000;
        font-size: 2rem;
        text-align: center;
        text-shadow: none;
    }
    #alunos {
        width: 200px !important;
    }
    #professor {
        margin-left: 70%;
        margin-top: -200px;
        width: 100px;
    }
}
.estrutura {
    display: grid;
    grid-template-areas: "header header header" "sidenav content anuncios" "footer footer footer";
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
}
@media (max-width: 1200px) {
    .estrutura {
        grid-template-areas: "header header header" "sidenav content content" "sidenav anuncios anuncios" "footer footer footer";
    }
}
@media (max-width: 760px) {
    .estrutura {
        grid-template-areas: "header" "sidenav" "content" "anuncios" "footer";
        grid-template-columns: 100%;
    }
}
@-webkit-keyframes seta {
    0% {
        right: 30px;
    }
    to {
        right: 20px;
    }
}
@keyframes seta {
    0% {
        right: 30px;
    }
    to {
        right: 20px;
    }
}
@media (max-width: 760px) {
    .sidenav {
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow-x: auto;
        position: relative;
    }
    .sidenav:after {
        -webkit-animation: seta 0.5s ease-in 0s infinite alternate;
        animation: seta 0.5s ease-in 0s infinite alternate;
        color: rgba(0, 0, 0, 0.3);
        content: "→";
        position: absolute;
        right: 30px;
        top: 5px;
    }
    .sidenav ul {
        display: flex;
        flex-wrap: nowrap;
    }
    .sidenav-item {
        flex: 1 0 60px;
    }
    .sidenav {
        padding: 0 30px;
    }
    .sidenav-item a {
        margin: 30px 30px 30px 0;
    }
}
.content {
    grid-gap: 30px;
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 900px;
    padding: 16% 0;
}
@media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
    }
}
.col-wide {
    grid-column: 1/-1;
}
.imagem-1 {
    grid-row: span 2;
}
.imagem-1,
.imagem-2 {
    align-self: end;
}
.anuncios {
    grid-gap: 30px;
    align-content: start;
    background: #fafbfc;
    display: grid;
    grid-area: anuncios;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-around;
    padding: 30px;
}
.informacoes p + p {
    margin-top: 30px;
}
.titulo h1 {
    font-size: 3.75em;
    font-weight: 700;
    line-height: 1;
}
.titulo span {
    font-size: 0.875em;
    font-style: italic;
}
.caracteristicas {
    align-items: flex-start;
    display: flex;
}
.caracteristicas > div {
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
    position: relative;
    text-align: center;
    width: 80px;
}
.caracteristicas > div:first-child {
    margin-right: 30px;
}
.numero {
    color: #000;
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}
.rotulo {
    background: #fff;
    border-radius: 0 0 5px 5px;
    color: #b07dfb;
    padding: 5px 0;
    position: relative;
    top: 2px;
}
.caracteristicas span {
    display: block;
}
.destaque {
    color: #b07dfb;
    font-size: 0.875em;
    max-width: 16em;
}
.objeto {
    align-self: center;
}
.objeto img {
    height: auto;
    max-width: 680px;
    width: 100%;
    border-radius: 1rem;
}
.atributos,
.citacao {
    align-self: start;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
    padding: 30px;
}
.citacao p {
    color: #fff;
    font-size: 1.5em;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}
.atributos li {
    color: #fff;
    font-family: Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
}
.atributos li + li {
    border-top: 2px solid gray;
}
[data-anime] {
    opacity: 0;
    transition: 0.3s;
}
[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}
[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}
[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}
[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}
[data-anime].animate {
    opacity: 1;
    transform: translateZ(0);
}
.theme__efaiv11___edf h1 {
    color: #34506a;
}
.theme__efaiv11___edf button.on-off {
    background: #34506a;
    border-color: #34506a;
}
.theme__efaiv11___edf .copyright {
    background: #34506a;
}
.theme__efaiv11___edf .header__animals {
    background-image: url(../image/animals-header-monkey.svg);
}
.theme__efaiv11___edf .atributos,
.theme__efaiv11___edf .citacao {
    background: #34506a;
}
.theme__efaiv11___edf hr {
    background: #022e5c;
}
.theme__efaiv11___li h1 {
    color: #006e94;
}
.theme__efaiv11___li button.on-off {
    background: #006e94;
    border-color: #006e94;
}
.theme__efaiv11___li .copyright {
    background: #006e94;
}
.theme__efaiv11___li .header__animals {
    background-image: url(../image/animals-header-hart.svg);
}
.theme__efaiv11___li .atributos,
.theme__efaiv11___li .citacao {
    background: #006e94;
}
.theme__efaiv11___li hr {
    background: #0b4764;
}
.theme__efaiv11___art h1 {
    color: #6863ac;
}
.theme__efaiv11___art button.on-off {
    background: #6863ac;
    border-color: #6863ac;
}
.theme__efaiv11___art .copyright {
    background: #6863ac;
}
.theme__efaiv11___art .header__animals {
    background-image: url(../image/animals-header-sloth.svg);
}
.theme__efaiv11___art .atributos,
.theme__efaiv11___art .citacao {
    background: #6863ac;
}
.theme__efaiv11___art hr {
    background: #503c78;
}
.theme__efaiv11___art svg {
    fill: #503c78;
}
.theme__efaiv11___geo h1 {
    color: #f58345;
}
.theme__efaiv11___geo button.on-off {
    background: #f58345;
    border-color: #f58345;
}
.theme__efaiv11___geo .copyright {
    background: #f58345;
}
.theme__efaiv11___geo .header__animals {
    background-image: url(../image/animals-header-ounce.svg);
}
.theme__efaiv11___geo .atributos,
.theme__efaiv11___geo .citacao {
    background: #f58345;
}
.theme__efaiv11___geo hr {
    background: #e65621;
}
.theme__efaiv11___his h1 {
    color: #7d4b52;
}
.theme__efaiv11___his button.on-off {
    background: #7d4b52;
    border-color: #7d4b52;
}
.theme__efaiv11___his .copyright {
    background: #7d4b52;
}
.theme__efaiv11___his .header__animals {
    background-image: url(../image/animals-header-crab.svg);
}
.theme__efaiv11___his .atributos,
.theme__efaiv11___his .citacao {
    background: #7d4b52;
}
.theme__efaiv11___his hr {
    background: #692721;
}
.theme__efaiv11___cie h1 {
    color: #5cb343;
}
.theme__efaiv11___cie button.on-off {
    background: #5cb343;
    border-color: #5cb343;
}
.theme__efaiv11___cie .copyright {
    background: #5cb343;
}
.theme__efaiv11___cie .header__animals {
    background-image: url(../image/animals-header-flog.svg);
}
.theme__efaiv11___cie .atributos,
.theme__efaiv11___cie .citacao {
    background: #5cb343;
}
.theme__efaiv11___cie hr {
    background: #438e34;
}
.theme__efaiv11___mat h1 {
    color: #069edb;
}
.theme__efaiv11___mat button.on-off {
    background: #069edb;
    border-color: #069edb;
}
.theme__efaiv11___mat .copyright {
    background: #069edb;
}
.theme__efaiv11___mat .header__animals {
    background-image: url(../image/animals-header-monkey.svg);
}
.theme__efaiv11___mat .atributos,
.theme__efaiv11___mat .citacao {
    background: #069edb;
}
.theme__efaiv11___mat hr {
    background: #1968b3;
}
.theme__efaiv11___lp h1 {
    color: #ed145b;
}
.theme__efaiv11___lp button.on-off {
    background: #ed145b;
    border-color: #ed145b;
}
.theme__efaiv11___lp .copyright {
    background: #ed145b;
}
.theme__efaiv11___lp .header__animals {
    background-image: url(../image/animals-header-arara.svg);
}
.theme__efaiv11___lp .atributos,
.theme__efaiv11___lp .citacao {
    background: #ed145b;
}
.theme__efaiv11___lp hr {
    background: #f1666a;
}