$--color-one: #6863AC;
$--color-two: #f072ab;
$--color-three: #503C78;
$--color-four: #99CA3C; 

h1 {
    color: $--color-one;
}

button.on-off {
    border-color: $--color-one;
    background: $--color-one;
}

.copyright {
    background: $--color-one;
}

.header__animals {
    background-image: url(../image/animals-header-sloth.svg);
}

.citacao, .atributos {
    background: $--color-one;
}